*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  scroll-behavior:smooth;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #555; 
}

::-webkit-scrollbar-thumb:hover {
  background: #6dcaae; 
}

div.home-index {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 5px;
}

.material-symbols-outlined {
  font-size: large;
  color: #007bff;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

div.home-index h1 , div.loader-div {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

body{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  color: #d5d5d5;
  background:#212121;
}

@media screen and (max-width: 768px) {
}

img{
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
}

.icon{
  width: 50px;
}

.icon-footer{
  width: 30px;
  margin: 15px;
}

main{
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.512);
  backdrop-filter: blur(14.8px);
  -webkit-backdrop-filter: blur(14.8px);
}

/*------------------Header component------------------------*/
header{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
  border-radius: 8px;
}

header a{
  text-decoration: none;
  color: inherit;

}

@media screen and (max-width: 700px) {
  .web-title{
    display: none;
  }
}

div.logo {
  font-weight: bold;
  font-size: 1.5rem;
  display:flex;
  align-items: center;
  display: flex;
  gap: 5px;
}

header nav{
  font-weight: bold;
  align-items: center;
  font-size: large;
  margin-right: 5px;
  display: flex;
  gap: 15px;
}

header nav span{
  position: relative;
  display:inline-block;
}

.header-container {
  position: relative;
}

.alert-box {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px; 
  margin-top: 10px; 
}

/*---------------------------------Post page component------------------*/
div.post{
  display: grid;
  grid-template-columns: 1fr;
  gap:5px;
  margin-bottom: 25px;
  background: #2F2F2F;
  border-radius: 5px;
}

@media screen and (min-width: 700px) {
  div.post{
    grid-template-columns: .9fr 1.1fr;
  }
}

div.post div.text h2{
  margin: 0;
  text-decoration: none;
  font-size: 1.4rem;
  padding-left: 10px;
  padding-top: 5px;
  color: #ffffff;
  padding-right: 5px;
}

div.post div.text a{
  text-decoration: none;
  color: inherit;
}

div.post p.info{
  margin:6px 0;
  font-size: small;
  padding-left: 10px;
}

div.post p.info a.author{
  margin:6px 0;
  color: #98bdf7;
  margin-right: 5px;
}

div.post p.summary a{
  color: #9c9c9c;
}

div.post p.summary{
  margin: 6px 0;
  line-height: 1.4rem;
  font-size: small;
  color: #f5f5f5;
  padding-left: 10px;
  padding-right: 5px;
}

/*-----------------------------form component css------------------*/
form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

form.login a{
  color: #98bdf7;
  text-decoration: none;
  margin-top: 5px;
  font-size: small;
}

form.login button{
  margin-top: 5px;
}

form.login h4{
  margin-bottom: 5px;
}

form.contact{
  max-width: 500px;
  margin: 0 auto;
}

form.contact h1{
  text-align: center;
}

.contact-div {
  margin: 0;
  text-align: justify;
  width: 100%;
  padding-top: 25px;
}

.contact-div h3, .contact-div p {
  margin: 0;
}

.contact-div a{
  color: #98bdf7;
  text-decoration: none;
}

form.report{
  max-width: 500px;
  margin: 0 auto;
}

form.report h1{
  text-align: center;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 7px 10px;
  border: 0;
  background-color: rgba(129, 129, 129, 0.723);
  border-radius: 5px;
  color: white; 
}

input:-webkit-autofill {
  -webkit-text-fill-color: white; 
  background-color: rgba(129, 129, 129, 0.723) !important;
  transition: background-color 5000s ease-in-out 0s; 
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  background-color: rgba(129, 129, 129, 0.723) !important;
}

textarea{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  height: 100px ;
  padding: 5px 10px;
  margin-top: 5px;
  border: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:rgb(109, 109, 109);
  border-radius: 5px;
}

textarea::placeholder{
  color: #cbcbcb;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

select{
  margin-bottom: 5px;
  width: 100%;
  padding: 7px 5px;
  border: 0;
  background-color:rgb(109, 109, 109);
  border-radius: 5px;
  margin-bottom: 0;
}

.select-error{
  border-color: #ea3333;
  border-width: 2px;
}

optgroup,option{
  text-align:justify;
}

h5,input{
  margin-top:0 ;
  margin-bottom: 5px;
  margin-top: 5px;
}

h4{
  font-weight: bold;
}

label{
  font-size: small;
  font-weight: bold;
}

input::file-selector-button {
  font-weight: bold;
  color:  rgb(255, 255, 255);
  background-color: #6dcaae;
  padding: 0.3em;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-weight:bold;
}

input,select,textarea{
  color: #ffffff;
}
::placeholder{
  color: #ffffff;
}

button{
  width: 100%;
  display: block;
  background-color:  #000000cf;
  border: 0;
  border-radius: 5px;
  padding: 7px 0;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

button:hover{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

form.login h1,form.register h1{
  text-align: center;
 }

.dropdown-content {
  display: none;
  position:absolute;
  background-color: #dadada;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 15px;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  font-size: medium;
  font-weight: 700;
  text-decoration: none;
  display:block;
  background: 15px;
}
.dropbtn{
  background: linear-gradient(to right, #6b96c5, #c14999 , #b39847);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:700;
}

.dropdown-content a:hover {background-color: #c7c7c7;
border-radius: 15px;}

nav:hover .dropdown-content {
  display:inline-block;
}

div.post-page div.image{
  max-height: 300px;
  display:flex;
  overflow: hidden;
}

div.post-page div.image img{
  object-fit: cover;
  object-position: center;
}

div.post-page h2{
  text-align: left;
  margin: 10px 0 5px;
}

p{
  font-weight: 500;
  color: #c7c7c7;
  line-height: 1.6rem;
}

.report-div{
  text-align: justify;
  margin-top: 25px; 
}

.report-div h3, .report-div p {
  margin: 0;
  padding-bottom: 8px;
}

.report-div a {
  color: #98bdf7;
  text-decoration: none;
}

li{
  font-weight: 500;
  color: #c7c7c7;
  line-height: 1.6rem;
}

div.post-page div.post-info{
  display: flex;
  gap: 10px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  width: 150%;
  max-width: max-content;
  margin: 0;
  font-weight: 700;
  font-size: small;
}

div.post-page div.author-word{
  font-weight: 700;
  font-size: medium;
  color: #cecece;
}

div.post-page time{
  display: block;
  font-weight: bold;
  font-size: small;
  color: #c5c5c5;
}

div.post-page div.author{
  font-weight: 700;
  color: #98bdf7;
  display: inline-flex;
  font-size:small;
  text-transform: uppercase;
}

div.hone-index{
  padding-left: 5px;
}

/*--------------------------footer-------------------------------*/
footer{
  max-width: 100%;
  align-items: center;
  display: block;
  border-radius: 25px;
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
}

.footer-div{
  padding-left: 30px;
  padding-right: 50px;
  text-align: left;
}

.footer-div h2{
  background: linear-gradient(to right, #007bff, #ff00aa , #ffc107);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.newsletter{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items:baseline;
  padding-left: 30px;
  gap: 5px;
}

.f-input{
  height: 30px;
  width: 40%;
  border-radius: 20px;
}

.f-btn{
  width: 30%;
  height: 30px;
  border-radius: 20px;
  align-items: center;
  color: #ffffff;
}

.footer-route, .social-route{
  display: flex;
  gap: 10px;
  margin: 10px;
}


.footer-menu {
  display: flex;
  list-style: none;
  gap: 10px;
  font-weight: 200;
  margin: 0;
  padding-left: 25px;
}

.footer-menu a{
  text-decoration: none;
  font-size: small;
  color: #dcdcdc;
}

.copyright-info{
  font-size: smaller;
  text-align: center;
}

.social-menu{
  display: flex;
  list-style: none;
  gap: 15px;
  padding-left: 22px;
  margin: 0;
}

.social-menu-post{
  display: flex;
  list-style: none;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.social-menu li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}

.social-menu-post a{
  color:#ffffff;
  font-size:20px;
  display:inline-block;
  width:20px;
  height:20px;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-menu a{
  background-color: #000000;
  color:#ffffff;
  font-size:px;
  display:inline-block;
  line-height:35px;
  width:35px;
  height:35px;
  text-align:center;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-menu-post a:active,.social-menu-post a:focus,.social-menu-post a:hover {
  color:#6dcaae;
}

.social-menu a:active,.social-menu a:focus,.social-menu a:hover
{
  color:#fff;
  background-color: #175341;
}

.social-menu.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.dropdown-container {
  position: relative;
  width: 120px;
  margin: 2px;
}
.action-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.dropdown-container select::-ms-expand {
  display: none;
}

.dropdown-container select option {
  padding: 10px;
  gap: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ql-toolbar {
  background-color: rgba(204, 204, 204, 0.723);
  border-radius: 1px;
}


/*---------------------------user profile -----------------------------------------------------------------------*/
div.user-profile-edit {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 8px;
  justify-content: space-between;
  background: #2F2F2F;
}

div.user-data-update {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.user-data-update h2 {
  margin: 0px;
  text-align: center;
}

div.user-profile-edit p, span {
  margin: 10px;
  font-size: small;
}

/*------------------------------post data section---------------*/
div.post-data-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.post-container {
  display: flex;
  align-items:flex-start;
  margin: 10px;
  text-align: left;
  gap: 5px;
  background: #2F2F2F;
  border-radius: 10px;
  max-width: 100%;
}

.text-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items:flex-start;
}

.post-title {
  margin: 1px;
  font-size:small;
}


div.post-container img{
  width: 100px;
  height: 60px;
  margin: 5px;
}